---
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
---

<MainLayout showNav={false} showFooter={false}>
  <section class="flex flex-col justify-center items-center leading-10">
    <h1 class="mb-8">Thank you for visiting!</h1>
    <p>My website is under construction. 🚧</p>
    <p>Check back soon!</p>
    <div class="mt-8">
      <Image
        src={`/images/under_construction.png`}
        class="rounded-lg"
        alt="Website Construction"
        width={640}
        height={457}
      />
    </div>
  </section>
</MainLayout>
