---
import Separator from "@/components/common/Separator.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import ContactForm from "@/components/ContactForm.tsx";
import { Alert } from "@/components/common/Alert";
import { getEntry, type CollectionEntry } from "astro:content";
const RECAPTCHA_SITE_KEY = import.meta.env.RECAPTCHA_SITE_KEY;

const validation: CollectionEntry<"validation"> = await getEntry(
  "validation",
  "contact-form"
)!;
---

<MainLayout>
  <Alert client:load />
  <section class="w-full flex flex-col justify-center items-center">
    <ContactForm
      client:only
      recaptchaSiteKey={RECAPTCHA_SITE_KEY}
      validation={validation}
    />
  </section>
  <Separator />
</MainLayout>
