---
import ProjectCard from "../components/ProjectCard.astro";
import { HOMEPAGE_PROJECTS_LIMIT } from "../lib/constants";
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import Separator from "@/components/common/Separator.astro";
import BreadCrumbs from "@/components/common/BreadCrumbs.astro";
import { Image } from "astro:assets";
import MailIcon from "astro-feather/components/MailIcon";

const aboutUiContent: CollectionEntry<"about"> = await getEntry(
  "about",
  "ui-content"
)!;

const { Content } = await aboutUiContent.render();
---

<MainLayout>
  <BreadCrumbs />
  <section class="flex flex-col justify-center items-center w-full">
    <h1>About Me</h1>
    <div class="flex items-center justify-center mt-8 md:mt-12">
      <Image
        src="https://res.cloudinary.com/dceqefagi/image/upload/v1740513971/portfolio/abdul_aliyev_i1obf5.jpg"
        class="min-h-20 md:w-36 md:h-36 rounded-full w-24 h-24 shadow-lg"
        alt="Abdul Aliyev Photo"
        width={200}
        height={200}
      />
    </div>

    <article
      id="about-me-content-section"
      class="leading-relaxed md:leading-loose max-w-3xl mt-8 md:mt-12"
    >
      <Content />
    </article>
    <a href="/contact" class="button button-lg mt-5"
      ><MailIcon size={16} /> Get in touch</a
    >
  </section>
</MainLayout>
