---
import { SendIcon } from "astro-feather";
---

<div
  role="status"
  class="w-full flex justify-start items-center flex-col animate-pulse"
>
  <h1 class="mb-8">Get in Touch</h1>
  <div class="w-full md:max-w-md">
    <!-- form -->
    <div>
      <div class="mb-2">
        <div class="label">Name</div>
        <div class="h-[42px] bg-gray-200 rounded-lg dark:bg-gray-400 w-full">
        </div>
        <p
          class="invisible mt-2 text-sm text-red-600 dark:text-red-500 min-h-7"
        >
          X
        </p>
      </div>
      <div class="mb-2">
        <div class="label">Email</div>
        <div class="h-[42px] bg-gray-200 rounded-lg dark:bg-gray-400 w-full">
        </div>
        <p
          class="invisible mt-2 text-sm text-red-600 dark:text-red-500 min-h-7"
        >
          X
        </p>
      </div>
      <div class="mb-2">
        <div class="label">Message</div>
        <div class="h-[102px] bg-gray-200 rounded-lg dark:bg-gray-400 w-full">
        </div>
        <p
          class="invisible mt-2 text-sm text-red-600 dark:text-red-500 min-h-7"
        >
          X
        </p>
      </div>

      <div
        class="mb-[34px] w-[302px] h-[76px] bg-gray-200 rounded-[3px] dark:bg-gray-400"
      >
      </div>

      <button class="button" type="submit" disabled={true}>
        <span class="mr-3">Send</span>
        <SendIcon size={16} />
      </button>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
