---
import { GithubIcon, LinkedinIcon, MailIcon } from "astro-feather";
import ThemeToggle from "./ThemeToggle.astro";
import Separator from "./common/Separator.astro";
---

<footer class="mt-16 mb-12">
  <Separator />
  <div class="container mx-auto mt-8 max-w-screen-xl side-spacing">
    <div>
      <p class="text-center italic text-xs">
        Copyright &copy; {new Date().getFullYear()} Abdul Aliyev
      </p>
    </div>
    <div class="flex justify-center items-center space-x-10 mt-8">
      <a
        href="https://github.com/aliyev12"
        target="_blank"
        title="Github Profile"
      >
        <GithubIcon />
        <span class="sr-only">Github Profile</span>
      </a>
      <a
        href="https://www.linkedin.com/in/aliyevabdul"
        target="_blank"
        title="Linkedin Profile"
      >
        <LinkedinIcon />
        <span class="sr-only">Linkedin Profile</span>
      </a>
      <a href="/contact" title="Get in touch">
        <MailIcon />
        <span class="sr-only">Submit a contact me form</span>
      </a>
      <ThemeToggle />
    </div>
  </div>
</footer>
