---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";

const allProjects: CollectionEntry<"project">[] = (
  await getCollection("project")
).sort(
  (a: CollectionEntry<"project">, b: CollectionEntry<"project">) =>
    a.data.weight.valueOf() - b.data.weight.valueOf()
);
---

<section class="flex flex-col justify-center items-center w-full">
  <h1 class="mb-8 md:mb-12">My Projects</h1>
  <div
    class={`grid grid-cols-1 ${allProjects.length === 2 && "lg:grid-cols-2"} ${allProjects.length >= 3 && "xl:grid-cols-3"} gap-8 sm:gap-12 md:gap-16 place-items-center w-full`}
  >
    {
      allProjects
        // .slice(0, HOMEPAGE_PROJECTS_LIMIT)
        .map((project) => <ProjectCard project={project} />)
    }
  </div>
</section>
