---
import "@/styles/globals.css";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../lib/constants";
import { Alert } from "@/components/common/Alert";

const { title = "Collection of my web apps" } = Astro.props;

interface Props {
  title?: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500,600,800&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="/src/scripts/main.ts"></script>
    <title>{SITE_TITLE} | {title}</title>
  </head>
  <body class="">
    <Navbar />
    <main
      class="container mx-auto max-w-screen-xl mt-5 md:mt-10 px-6 md:px-12 lg:px-16"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
